<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>WHat you want to do</h1>
    <h2><a href="login">Login</a></h2>
    <h2><a href="register">Register</a></h2>

    <p>Welcome to <%= title %></p>
  </body>
</html>
