<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Entter details to register</h1>
    <form method="post">
      <h3>Email:<input type="text" id="email" name="email"/></h3>
      <h3>Password: <input type="password" id="password" name="password"/></h3>
      <br>
      <input type="submit" value="Register" id="register">
    </form>

  </body>
</html>
